Repository nada-supera-a-persistencia/generic-portfolio-reforged, pull requests merged in 2024-04, with the labels that each got.

#12 Feat Criar Componente Seta para Cima Projeto
  .vscode/settings.json
  package-lock.json
  package.json
  src/App.css
  src/App.jsx
  src/components/portfolio-page-up-button/index.jsx
  src/components/portfolio-page-up-button/styles.css
  src/shared/styles/colors.css
Labels: melhoria, finalizado

#13 Feat Criar Componente Informações Stack
  .vscode/settings.json
  src/App.css
  src/App.jsx
  src/components/portfolio-page-up-button/styles.css
  src/components/portfolio-stacks/index.jsx
  src/components/portfolio-stacks/styles.css
  src/img/Typescript.png
  src/img/csharp.png
  src/img/css.png
  src/img/emConstrucao.svg
  src/img/html.png
  src/img/js.png
  src/img/node.png
  src/img/postgres.jpg
  src/img/react-logo-1.png
  src/img/react-logo-2.png
  src/img/sqlserver.png
  src/shared/styles/colors.css
Labels: Nova melhoria, Tarefa: Desenvolvida, Alterado: Imagens, Alterado: Estilos

#19 [Fix] Corrigir e Ajustar o Template do PR
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  pull_request_template.md
Labels: Nova correção, Tarefa: Desenvolvida, Alterado: Documentação

#17 [Conf] Criar Template de Criação de Issue e Configurar
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/fix_request.yml
  .github/ISSUE_TEMPLATE/repository_documentation_request.yml
  .github/ISSUE_TEMPLATE/repository_or_project_configuration_request.yml
Labels: Nova configuração, Tarefa: Desenvolvida, Alterado: Configurações

#26 [Conf] Configurar Eslint no projeto
  .eslintrc.cjs
  .github/labeler.yml
  .github/pull_request_template.md
  .gitignore
  .prettierignore
  .prettierrc
  .stylelintrc.cjs
  .vscode/settings.json
  index.html
  package-lock.json
  package.json
  src/App.css
  src/App.jsx
  src/App.test.js
  src/components/portfolio-footer/index.jsx
  src/components/portfolio-footer/styles.css
  src/components/portfolio-page-up-button/index.jsx
  src/components/portfolio-page-up-button/styles.css
  src/components/portfolio-stacks/index.jsx
  src/components/portfolio-stacks/styles.css
  src/index.css
  src/index.js
  src/main.jsx
  src/reportWebVitals.js
  src/setupTests.js
  src/shared/styles/colors.css
  vite.config.js
  yarn.lock
Labels: Nova configuração, Alterado: Componentes, Alterado: Estilos, Alterado: Documentação, Alterado: Configurações Repositório

#14 [Conf] Automação de Labels em Pull Resquests
  .github/workflows/labeler.yml
  .vscode/settings.json
Labels: Nova configuração, Alterado: Workflows, Alterado: Configurações, Alterado: Configurações Repositório

#11 [Feat] Criar Componente Header do Projeto
  .vscode/settings.json
  src/App.css
  src/App.jsx
  src/components/portifolio-header/index.jsx
  src/components/portifolio-header/styles.css
Labels: Nova melhoria, Alterado: Componentes

#27 [Conf] Adicionar CODEQL no Actions do Projeto
  .github/workflows/codeql-analysis.yml
Labels: Nova configuração, Alterado: Workflows, Alterado: Configurações Repositório
